<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zc.ths.user.repository.UserRepositoryImpl">

    <insert id="insert" parameterType="com.zc.ths.user.entity.User">
        insert into tuser(id, name, birthday, age, sex) values (
            #{id},
            #{name},
            #{birthday},
            #{age},
            #{sex}
        )
    </insert>

    <select id="getUserList" resultType="com.zc.ths.user.entity.User">
        SELECT
            id,
            name,
            birthday,
            age,
            sex
        FROM tuser
        <where>
            <if test="name != null and name != ''">
                name = #{name}
            </if>
        </where>
    </select>

</mapper>